@media (max-width: 576px) {
    .mobile-hidden {
        display: none !important;
    }

    .desktop-hidden {
        display: flex !important;
    }

    .btn-primary {
        font-size: 14px;
        line-height: 18px;
    }

    .btn-select {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #FF7010;
        background: #FFEEE2;
        border-radius: 6px;
        padding: 7px 16px;
    }

    header .navigation .left-side {
        width: 100%;
    }

    header .navigation .left-side ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navigation ul li {
        font-size: 10px;
        gap: 6px;
    }


    header .hamburger-menu {
        border: none;
        outline: none;
        background-color: transparent;
    }

    /* ! Category section */
    .product-categories-wrapper .product-cotegories {
        gap: 12px;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .product-categories-wrapper .product-cotegories::-webkit-scrollbar {
        display: none;
    }

    .product-categories-wrapper .product-cotegories .category  {
        flex-direction: row;
        height: 45px;
        padding: 0 12px;
        min-width: fit-content;
    }

    .sale {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .sale::-webkit-scrollbar {
        display: none;
    }

    .sale .choise {
        min-width: 280px
    }

    .delivery .adress {
        padding: 24px 20px;
        flex-direction: column;
        height: fit-content;
        gap: 16px;
    }

    .search-bar {
        padding: 0 0 0 12px;
        width: 100%;
    }

   .menu .items {
    display: flex;
    flex-direction: column;
    gap: 12px;
   }

   .menu .items .item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    min-width: 350px;
    gap: 12px;
    width: auto;
    height: auto;
   }

   .menu .items .item .item-2 {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 0;
   }

   .menu .items .item img {
    width: 100%;
   }

   .menu .items .item .item-1 .part-1 .btn-primary {
    background: #E23535;
   }

   .menu .items .item .discount {
        display: flex;
        align-items: center;
        text-decoration-line: line-through;
        color: #A5A5A5;
        border: none;
        background: #ffffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
   }

   .menu .sushi img {
    border-radius: 12px;
   }

   .order {
    width: 90%;
   }

   footer .container {
    flex-direction: column;
    gap: 24px;
   }

   .btn-bag {
    padding: 16px;
    background: #FF7010;
    border: none;
    box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.2);
    float: right;
    border-radius: 5px solid !important;
   }
}