@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@300;400;700&display=swap');

:root {
    --primary-clr: #FF7010;
} 

.desktop-hidden {
    display: none !important;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}  


body {
    font-family: 'Lato', sans-serif;
    background-color: #E5E5E5;
    color: #191919;
    font-weight: normal;
}

.center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

li {
    text-align: match-parent;
}

a:any-link {
    text-decoration-line: underline;
    cursor: auto;
}

.btn-primary {
    height: 48px;
    min-width: fit-content;
    padding: 0 16px;
    background-color: var(--primary-clr);
    border: none;
    outline: none;
    border-radius: 6px;
    gap: 8px;
    color: #fff;
    cursor: pointer;
}

.btn-only-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-select {
    min-width: fit-content;
    color: #FF7010;
    display: flex;
    align-items: center;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border: none;
    background: #FFFFFF;
}

header {
    background-color: #fff;
}


header .navigation {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navigation .left-side ul, 
header .navigation .right-side ul {
    display: flex;
    align-items: center;
    gap: 40px;
}


header .navigation ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 18px;
}


header nav {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

header nav .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

/* ! Category section */
.product-categories-wrapper {
    margin: 30px 0;
}

.product-categories-wrapper .product-cotegories {
    display: flex;
    align-items: center;
    gap: 30px;
}   

.product-categories-wrapper .product-cotegories .category {
    width: calc((100% - 210px) / 8);
    background-color: #fff;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    gap: 8px;
    height: 104px;
    cursor: pointer;
}


.product-categories-wrapper .product-cotegories a {
    outline: none !important;
    text-decoration: none !important;
}

.product-categories-wrapper .product-cotegories a i {
    color: #FF7010;
}

.product-categories-wrapper .product-cotegories a p {
    color: #191919;
}

.product-categories-wrapper .product-cotegories a:hover i ,
.product-categories-wrapper .product-cotegories a:hover p {
    color: #E23535 ;
}

/* ! sale section */

.sale {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.sale .choise {
    width: calc((100% - 90px) / 4);
    height: 343px;
    background-color: #E23535;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale .choise:nth-child(2n-1) {
    background-color:#FF7010;
}

.sale .choise .image {
    height: 210px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sale .choise .image img {
    width: 100%;
}

.sale .choise a {
    margin-bottom: 20px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

.sale .choise a:hover {
    text-decoration: underline;
}


/* ! delivery section */

.delivery .adress {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    padding: 0 32px;
    gap: 32px;
    justify-content: space-between;
    height: 80px;
}

.delivery .adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #191919;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    background: #FFFFFF;
    flex: 1;
    padding: 0 12px;
    gap: 12px;
    height: 48px;
}

.search-bar input {
    flex: 1;
    outline: none;
    border: none;
}

.search-bar input::placeholder { 
    color: #A5A5A5;
}


/* ! menu section */

.menu .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}

.menu .head a {
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #191919;
}

.menu .head button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    background: #FFFFFF;
}

.menu .head button span {
    color: #191919;
}

.menu .items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.menu .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    background: #FFFFFF;
    width: calc((100% - 90px) / 4);
    height: 480px;
    position: relative;
}

.menu .items .item .item-1 .part-1 {
    
}
.menu .items .item .item-1 img {
    width: 100%;
}

.menu .items .item .item-1 .part-1 button {
    position: absolute;
    top: 20px;
    left: 0;
}



.menu .items .item .item-2 {
    padding: 20px;
}

.menu .items .item .item-2 .part-2 {
    color: #191919;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.menu .items .item .item-2 .part-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.menu .items .item .item-2 .part-3 p {
    color: #FF7010;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
}

.order {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 60px auto;
}

.order p {
    background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%), #191919;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.order span {
    color: #FF7010;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
}

footer {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}


footer .container {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin: 32px auto;
}

footer .container div ul li b {
    color: #191919;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

footer .container div ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .container div ul li {
    display: flex;
    gap: 12px;
}

footer .container div ul li .social {
    display: flex;
    gap: 24px;
}

footer .container div ul li .social div {
    display: flex;
    gap: 12px;
}
